.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f8f9fa;
}

.navbar-brand {
  font-size: 1.5rem;
}

.sign-up-button {
  padding: 0.75rem 1.25rem; 
  font-size: 1rem; 
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0.45rem 0.45rem 0.45rem 0.45rem;
  text-decoration: none;
}

.header {
  background-image: url('/images/bg-masthead.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh; /* or any desired height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 3rem; /* Increased font size */
  margin-bottom: 1rem;
  line-height: 1.2; /* Adjust line-height for better spacing */
}

.email-form {
  display: flex;
  justify-content: center;
}

.email-form input {
  padding: 0.75rem;
  font-size: 1.25rem; 
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
}

.email-form button {
  padding: 0.75rem 1.25rem; 
  font-size: 1.25rem; 
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0 0.25rem 0.25rem 0;
}

.features {
  padding: 2rem;
  background-color: #f8f9fa;
}

.features-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features-icons-item {
  text-align: center;
  width: 30%;
}

.features-icons-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.features-icons-icon i {
  color: #007bff;
}

.features h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.features p {
  font-size: 1rem;
}

.showcase {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

.showcase-row {
  display: flex;
  align-items: center;
}

.showcase .showcase-img {
  background-size: cover;
  background-position: center;
  height: 400px;
  flex: 1;
}

.showcase .showcase-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.showcase h2 {
  font-size: 2rem;
}

.showcase p {
  font-size: 1rem;
}

.testimonials-section {
  text-align: center;
  padding: 2rem;
  background-color: #f8f9fa;
}

.testimonials-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  max-width: 300px;
  margin: 1rem;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.testimonial h3 {
  margin: 0.5rem 0;
}

.testimonial p {
  font-style: italic;
  color: #555;
}

.call-to-action {
  background-image: url('/images/bg-masthead.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 0;
  color: white;
}

.call-to-action h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.form-subscribe .form-control {
  padding: 0.75rem;
  font-size: 1.25rem; 
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
}



.form-subscribe .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.form-subscribe .btn-primary {
  padding: 0.75rem 1.25rem; 
  font-size: 1.2rem; 
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0.45rem 0.45rem 0.45rem 0.45rem;
}


.form-subscribe .btn-primary:disabled {
  background-color: #6c757d;
}

.invalid-feedback {
  display: none;
}

.form-subscribe .form-control:invalid ~ .invalid-feedback {
  display: block;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
}

.footer .list-inline-item a {
  color: #007bff;
  text-decoration: none;
  margin-right: 30px;
}

.footer .list-inline-item a:hover {
  text-decoration: underline;
}

.footer .text-muted {
  color: #6c757d !important;
}

.footer .bi-facebook,
.footer .bi-twitter,
.footer .bi-instagram {
  font-size: 1.5rem;
  color: #007bff;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
