.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.cart {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 20px;
  align-items: center;
}

.cart-item-image {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.cart-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quantity-price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-price select {
  margin-right: 10px;
}

.quantity-price .price {
  font-weight: bold;
  margin-left: 40px;
}

.cart-summary {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  font-weight: bold;
}

.cart-summary-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 70px;
}

button:hover {
  background-color: #d32f2f;
}


